*.gem
.kitchen/
.kitchen.local.yml
pkg/*
.vagrant
bin/*
files/**/cache/
vendor
vendor
local
package-scripts/flight-action-api/*
opt/flight/etc/service/types/action-api/*.sh
opt/flight/opt/action-api/bin/start
