*.gem
.kitchen/
.kitchen.local.yml
pkg/*
.vagrant
bin/*
files/**/cache/
vendor
local
package-scripts/*/postinst
package-scripts/*/postrm
package-scripts/*/prerm
opt/flight/etc/service/types/file-manager-api/start.sh
opt/flight/etc/service/types/file-manager-api/restart.sh
opt/flight/etc/service/types/file-manager-api/stop.sh
opt/flight/etc/service/types/file-manager-api/reload.sh
opt/flight/opt/*/bin/start
